;copy this file as secrets.ini
[secrets]
    WIFI_SSID=\"abc\"
    WIFI_PASS=\"pass\"
    MQTT_HOST=\"192.168.x.x\"
    MQTT_USER=\"user\"
    MQTT_PASS=\"pass\"
    MQTT_CHANNEL_STATE=\"esp/gpio/state\"
    MQTT_CHANNEL_SET=\"esp/gpio/set\"
    MQTT_CLIENT_NAME=\"esp-blinker\"
    BUILD_TYPE = debug